body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    margin: 0;
    background:#fff;
    overflow-x: hidden;
    font-size: 13px;
    line-height: 20px;
}

a {
    color: #615c46;
    text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: 0 none;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: none;
    outline: 0 none;
}

p {
    line-height: 20px;
    padding: 0 0 10px 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0 0 15px 0;
}

h1, h2 {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font-size: 18px;
    line-height: 22px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

h4 {
    font-size: 14px;
    line-height: 20px;
}

h5 {
    font-size: 12px;
    line-height: 16px;
}

h6 {
    font-size: 11px;
    line-height: 14px;
}

.align-center {
    margin: auto;
    display: block;
    text-align: center;
}

.align-left {
    float: left;
    margin-right: 15px;
}

.align-right {
    float: right;
    margin-left: 15px;
}

.wrapper {max-width:1024px;
    max-width:1170px;
	
    margin: auto;
}
.container-fluid{
	padding:0px;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(80,80,80,0.75);
-moz-box-shadow: 1px 1px 10px 0px rgba(80,80,80,0.75);
box-shadow: 1px 1px 10px 0px rgba(80,80,80,0.75);
}
.content{padding:10px 20px;}


header{position:relative;}
.head_left h1{padding:40px 0px 0px;text-transform:none;color:#49392e;font-size:30px;line-height:40px;}
.head_left h1 b{font-size:40px;color:#49392e;font-family:"Times New Roman", Times, serif;font-weight:normal;text-shadow:1px 1px 3px #c3c4c9;}
.head_left img{float:left;margin:10px 15px 10px 30px;}

.login_sec{position:absolute;right:10px;color:#000;z-index:2;font-weight:bold;top:10px;}
.login_sec a{color:#fff;font-weight:bold;display:inline-block;border-radius:3px;padding:3px 10px;background:#d00038;}
.login_sec a:hover{color:#fff;background:#706860;}

/* start nav */
.navbar.navbar-inverse {
    min-height: 40px;
    margin:0px;
	background:#655d55;
}

.navbar-inverse .navbar-nav  li   a {
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    padding: 10px 15px;
    display: inline-block;
}

.navbar-inverse .navbar-nav > li.dropdown:focus .dropdown-menu,
.navbar-inverse .navbar-nav > li.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-collapse {
    padding: 0;
}

.navbar-inverse {
    border-radius: 0;
    border: 0;
    background: #706860;
    background: -moz-linear-gradient(top, #706860 1%, #1c1c1c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #706860), color-stop(100%, #1c1c1c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #706860 1%, #1c1c1c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #706860 1%, #1c1c1c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #706860 1%, #1c1c1c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #706860 1%, #1c1c1c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#706860', endColorstr = '#1c1c1c', GradientType = 0); /* IE6-8 */
}

.navbar-inverse ul li {
    border-right: 1px solid #46382b;
    box-shadow: inset 1px 0 0 #a0978e;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

.navbar-inverse ul li i.fa {
    padding-right: 4px;
    font-size: 17px;
}

.navbar-inverse .dropdown span.main-arrow {
    display: inline-block;
    text-indent: -999999px;
    width: 18px;
    height: 18px;
    background: url(../images/arrow-down.png) no-repeat transparent;

}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .dropdown:hover,
.navbar-inverse .navbar-nav > .dropdown:focus,
.navbar-nav .dropdown-menu > li > a:hover,
.navbar-nav .dropdown-menu > li > a:focus,
.navbar-inverse ul li.active  a,
.navbar-inverse ul li a:hover {
    color: #fff;
    background: #d00038 !important;
}

.navbar-nav .dropdown-menu {
    background: #000;
    width: 200px;
}

.navbar-nav .dropdown-menu > li {
    box-shadow: none;
    text-shadow: none;
    border-right: 0;
}

.navbar-nav  .dropdown-menu > li > a {
    white-space: normal;
    margin: 2px 10px;
    display: block;
    padding: 8px 5px;
    color: #999;
    text-transform: none;
    font-size: 12px;
    line-height: 16px;
    background: #101010;
    border: 1px solid #1a1a1a;
}

/* end nav */
.header-search-right {
    float: right !important;
	margin-top:6px;margin-bottom:6px;
}

.header-search-right .input-group-addon {
    padding: 0;
    border: 0;
    border-right: 1px solid #4a3d30;
    border-bottom: 1px solid #4a3d30;
    border-top: 1px solid #4a3d30;
    background: none;
    border-radius: 0;
	color:#fff;
	background:#79726b;
}

.header-search-right button {
    padding: 0 10px;
    border: 0;
    background: none;
}

.header-search-right.navbar-form .input-group > .form-control {
    background:#79726b;
    transition: width 0.5s ease 0s;
    color: #fff;
    font-size: 10px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    border-radius: 0;
    border-right: 0;
    border-top: 1px solid #4a3d30;
    border-left: 1px solid #4a3d30;
    border-bottom: 1px solid #4a3d30;
}

.header-search-right.navbar-form .input-group > .form-control:focus {
    box-shadow: none;
    outline: 0 none;
    background-color:#79726b;
    border-top: 1px solid #4a3d30;
    border-left: 1px solid #4a3d30;
    border-bottom: 1px solid #4a3d30;
    width: 150px;
}

.btn-download {
    max-width: 160px;
    margin: 0;
    padding-top: 30px;
    float: right;
}

.btn-download a {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 1px #000;
    border: 1px solid #5a5a5a;
    background: #5a5a5a;
    background: -moz-linear-gradient(top, #6c6c6c 1%, #5a5a5a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #6c6c6c), color-stop(100%, #5a5a5a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6c6c6c 1%, #5a5a5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6c6c6c 1%, #5a5a5a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6c6c6c 1%, #5a5a5a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6c6c6c 1%, #5a5a5a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6c6c6c', endColorstr = '#5a5a5a', GradientType = 0); /* IE6-8 */
    display: block;
    color: #fff;
    padding: 3px 10px;
}

.btn-download a:hover, .btn-download a:focus {
    text-decoration: none;
    border: 1px solid #333;
    background: #474747;
    background: -moz-linear-gradient(top, #5a595a 1%, #474747 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #5a595a), color-stop(100%, #474747)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5a595a 1%, #474747 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5a595a 1%, #474747 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5a595a 1%, #474747 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5a595a 1%, #474747 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#5a595a', endColorstr = '#474747', GradientType = 0); /* IE6-8 */

}

.content-block{background:#fff;}
h1.title{background:#f0f0f0;color:#49392e;font-size:18px;padding:5px 10px;margin:20px 20px 10px;text-transform:none;text-shadow:0px 1px 1px #fff;}
.reg_from{padding:10px 20px;}
.reg_from ul{margin:0px;padding:0px;list-style-type:none;}
.reg_from ul li{clear:both;padding:5px 0px;}
.reg_from ul li label{display:inline-block;width:20%;}

.reg_from ul li .form-control{display:inline-block;width:79%;}
.ml20{margin-left:20%;padding:6px 15px;}
footer{padding:10px 0px;background:#d00038;}
footer p{line-height:32px;color:#fff;font-size:11px;text-transform:uppercase;padding:0px;padding: 0 25px;}


/* New Style */

.etander_login{ width:100%;float:left;}
.etander_login h1{ text-align:center;padding:30px 0px;font-size:46px;text-transform:none;}
.etander_login_sec{ width:100%;background:url(images/login-main-bg.jpg) no-repeat left bottom;min-height:355px;}
.login_btn_sec{width: 38%;float:right;padding-top: 60px;}
.login_btn_sec a{display:block;width:365px;height:81px;margin-top:25px;padding-left:96px;background:url(images/button.png) no-repeat left top;font-size:22px;font-weight:bold;text-transform:uppercase;text-shadow:0px 1px 1px #196aae;color:#fff;padding-top: 14px;}
.login_btn_sec a span{font-size:12px;}
.login_btn_sec a span small{color:#000;font-size:12px;text-shadow:0px 1px 1px #d7033c;}
.login_btn_sec a:hover{background:url(images/button-hover.png) no-repeat left top;}

.login_cntain{background:url(images/login-main-sec.jpg) no-repeat 1px bottom;margin-bottom:1px;position:relative;}
.login_hldr{background:url(images/login-bg.png) no-repeat left top;height:350px;width:363px;float:right;margin-right:30px;padding: 45px 30px 0;}

a.reg_bttn{display:inline-block;width:356px;height:81px;text-indent:-9999px;margin-top:25px;background:url(images/bidder-btn.png) no-repeat left top;position:absolute;left:212px;top:240px;}
a.reg_bttn:hover{background-position:left -81px;}



.login_hldr .sr-only {
  position:relative;
}
.form-signin .form-signin-heading{
   font-size:26px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;
}
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
 
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  
}

img.about-img{float:left;margin:5px 20px 15px 0px;}
.btn-primary {
    background-color: #d00038;
    border-color: #af0231;
    color: #fff;
}

.panel-heading{  padding: 5px 15px !important;}
h3.panel-title{margin:0px !important; padding:3px !important; }
b.text_tender{display: block;float: right;font-size: 35px;margin-right: 25px;margin-left:150px;color:#49392e;}

/*========Dashboard=============*/

.dashboard{padding:0px 20px 40px;}
.image {
    position: relative;
    z-index: 2;
    margin:20px auto 0px;
    width:140px;
    height:140px;
    border-radius:5px;
    background: #8e1e2e;
    vertical-align: middle;
	text-align:center;
	color:#fff;
	padding-top:20px;
}
.image:hover  {
    background: #d00038;
}
.image:hover > i {
    color: white !important;
}
.image h2  {
    font-size:12px;
	color:#fff;
}
.fa-6x{font-size:6em;}

@media (max-width:520px) {
	.dashboard .col-xs-4{width:50%;}
	.image{width:100%;height:140px;}

}
@media (max-width:380px) {
	.image{width:100%;height:100px;}
	.fa-6x{font-size:3em;}
}

/*====Table CSS=====*/

table.table-bordered tr:nth-child(even) td{background: #f4f9fa}
table.table-bordered tr:nth-child(odd) td{background: #fefefe;text-shadow:0px 1px 1px #fff;}
table.table-bordered thead tr th{border-bottom-width:1px !important;background:#8e1e2e; vertical-align:middle;border-top:2px solid #000 !important;color:#fff; text-transform:uppercase;}
table.table-bordered thead tr th,table.table-bordered tbody tr td,table.table-bordered tfoot tr td{border-color:#8e1e2e !important; margin:2px; vertical-align:middle;}

.btn-paynow{background-image:url(images/pay-now-icon.png);background-repeat:no-repeat;background-position:10px center;clear: both;display: block;
margin-top: 10px;padding-left: 45px;}

.panel-body ol li{padding-top:6px;}
h4.h4title{padding:6px 10px;margin:15px 0px;background:#f2fcff;text-shadow:0px 1px 1px #fff;}



/*====Bootstrap Panel===*/
.panel-title{font-size:14px !important;}
.panel-default {
    border-color: #46382b;
}
.panel-default > .panel-heading {
    background-color: #46382b;
    border-color: #46382b;
    color: #fff;
}

.panel-primary {
    border-color: #655d55;
}
.panel-primary > .panel-heading {
    background-color: #655d55;
    border-color: #655d55;
    color: #fff;
}
/*===============================*/
.btn-info {
	background-color: #8e1e2e;
    border-color: #8e1e2e;
    color: #fff;
}
.btn-info:hover{	
    background-color: #d00038;
    border-color: #8e1e2e;
}
b.text_tender{ color: #d00038 !important;}

/*==================*/
.ms-container .ms-optgroup-label{font-weight:bold; text-transform:uppercase;color:red !important;}
.ms-container{width:550px !important;}


