/*Back to top*/
#back-top {
  bottom: 9%;
  position: fixed;
  right: 10px;
  z-index: 2000;
}
#back-top a {
  background: rgba(127, 127, 127, 0.5);
  border-radius: 50%;
  display: block;
  font-size: 0;
  height: 33px;
  line-height: 30px;
  text-align: center;
  width: 33px;
}
#back-top a:before {
  color: #fff;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 20px;
  font-weight: normal;
}

/**/
@media (max-width: 1024px) {
  body {
    
  }
  p {
    line-height: 22px;
  }  
}